%% -*- mode:erlang -*-
{lib_dirs,            []}.

{erl_opts,            [ debug_info
                      ]}.

%% Add dependencies here, the format is (for example):
%% {proper, ".*",
%%   {git, "https://github.com/manopapad/proper.git", {branch, "master"}}}
{deps,                [
                      ]}.
{deps_dir,            "deps"}.

{cover_enabled,       true}.
{cover_print_enabled, true}.

{xref_queries,        [{ "XC || DF", []}]}. % Deprecated calls
{xref_checks,         [ undefined_function_calls
                      , deprecated_function_calls
                      ]}.
