name: boollib
version: 1.0
id: boollib
key: boollib
exposed: True
exposed-modules:
    Data.Bool.Boollib
import-dirs: @@IMPORT-DIR@@
library-dirs: @@STATIC-LIB-DIR@@
dynamic-library-dirs: @@DYNAMIC-LIB-DIR@@
hs-libraries: HSboollib
depends:
