name: searchlib
version: 1.0
id: searchlib
key: searchlib
exposed: True
exposed-modules:
    Control.Monad.MonadSearch
    Control.Monad.MonadSearch.Astar
import-dirs: @@IMPORT-DIR@@
library-dirs: @@STATIC-LIB-DIR@@
dynamic-library-dirs: @@DYNAMIC-LIB-DIR@@
hs-libraries: HSsearchlib
depends:
