name: perlude
version: 1.0
id: perlude
key: perlude
exposed: True
exposed-modules:
    Perlude
import-dirs: @@IMPORT-DIR@@
library-dirs: @@STATIC-LIB-DIR@@
dynamic-library-dirs: @@DYNAMIC-LIB-DIR@@
hs-libraries: HSperlude
depends:
