name: adventlib
version: 1.0
id: adventlib
key: adventlib
exposed: True
exposed-modules:
    System.IO.Advent
    System.IO.Test
import-dirs: @@INSTALL-DIR-INTERFACE@@
library-dirs: @@INSTALL-DIR-INTERFACE@@
dynamic-library-dirs: @@INSTALL-DIR-BINARIES@@
hs-libraries: HSadventlib
depends:
    base-4.12.0.0
